//public color、size、function
$colorBlack: #000;
$colorBorder: #ccc;
$colorWhite: #FFF;
$colorRed: #F60502;
$colorBlue: #0CD17F;
$colorOrange: #F87942;
$colorGary: #999999;
$colorYellow: #F8BE41;
$colorBrown: #E1932E;
$fontBig: 24;
$screenBig: 750;
