//media.css(px don't to rem)
@import "quote.scss";

html {
  font-size: #{$fontBig}px;
}
$screenSize: $screenBig;
@for $i from ($screenBig+(-300))/50 through 0 {
  @media screen and(max-width:#{$screenSize}px) {
    html {
      font-size: #{$screenSize/$screenBig*$fontBig}px;
    }
  }
  $screenSize: $screenSize+(-50);
}

body {
  background-color: #f8f8f8;
  // max-width: #{$screenBig}px;
  margin: 0 auto;
}

#banner {
  // .swiper-pagination-bullets{
  //   margin-bottom: 25px;
  // }
  .swiper-pagination-bullet {
    width: 12px;
    height: 2px;
    display: inline-block;
    border-radius: 2px;
    background: #fff;
    opacity: 1;
    vertical-align: middle;
  }

  .swiper-pagination-bullet-active {
    width: 4px;
    height: 4px;
    display: inline-block;
    border-radius: 50%;
    background: transparent;
    border: 2px solid #FFF;
  }
}
