#flipbookbox {
  height: 100vh;
  width: 100vw;
  // @for $i from 1 through 3 {
  //   #flipbook > div:nth-child(#{$i}) {
  //     background-color: #cd#{$i};
  //   }
  // }
  #flipbook > div:nth-child(1) {
    background-color: red;
  }
  #flipbook > div:nth-child(2) {
    background-color: black;
  }
  #flipbook > div:nth-child(3) {
    background-color: yellow;
  }
  #flipbook > div:nth-child(4) {
    background-color: orange;
  }
  #flipbook > div:nth-child(5) {
    background-color: green;
  }
}
