@import "quote.scss";

body {
  background-color: #1D1D1D;
  min-width: $viewWidth;
  width: 100%;
}

.public {
  min-width: $viewWidth;
  width: $viewWidth;
  margin: 0 auto;
}

.header {
  display: block;
  height: $headerHeight;
  background-color: #000;
  color: #fff;

  .public {
    height: 100%;
  }

  .logo {
    width: 160px;
    height: 100%;
    display: block;
    background: url("../img/icon/LOGO.png") no-repeat left center;
    background-size: auto 26px;

    h1 {
      opacity: 0;
      height: 100%;
    }
  }

  .nav {
    line-height: $headerHeight;
    font-size: 16px;

    a {
      width: 4em;
      float: left;
      margin-left: 65px;
      position: relative;
      text-align: center;
      white-space: nowrap;

      &.active {
        color: $colorYellow;
        font-weight: bold;

        &:after {
          content: '';
          display: block;
          position: absolute;
          bottom: 0;
          left: 1em;
          height: 2px;
          background-color: $colorYellow;
          width: 2em;
        }
      }
    }
  }
}

.titlebar {
  .title {
    padding-top: 50px;
    font-size: 24px;
    line-height: 33px;
    color: #fff;
    padding-bottom: 10px;
    font-weight: bold;

    .br {
      height: 2px;
      line-height: 2px;
      font-size: 0;
      padding-top: 10px;
    }

    i {
      display: inline-block;
      width: 20px;
      border-bottom: 2px solid $colorYellow;
    }
  }

  .intro {
    font-size: 12px;
    color: #ccc;
    line-height: 17px;
  }
}

.menubar {
  position: fixed;
  right: 100px;
  top: 40%;
  margin-left: 137px;
  z-index: 10;

  li {
    background-color: $colorYellow;
    width: 40px;
    height: 40px;
    margin-bottom: 15px;
    position: relative;
    // &:first-child {
    //   display: none;
    // }
    img {
      width: 100%;
    }
    text-align: center;

    a {
      display: block;
    }

    .view {
      // display: none;
      position: absolute;
      right: 20px;
      bottom: 0;
      margin-right: 10px;
      width: 120px;
      min-height: 40px;
      font-size: 13px;
      color: #31373B;
      line-height: 40px;
      text-align: center;
      background-color: $colorYellow;
      opacity: 0;

      img {
        width: 100px;
        margin: 10px;
      }

      &:after {
        position: absolute;
        left: 100%;
        bottom: 16px;
        display: block;
        content: '';
        width: 8px;
        height: 9px;
        margin-left: -1px;
        background: url("../img/icon/Path.png") no-repeat right bottom /8px;
      }
    }

    &:hover .view {
      display: block;
      opacity: 1;
      right: 44px;
      transition: all 0.5s ease-out;
    }
  }
}

.footer {
  position: relative;

  .contact {
    padding-bottom: 68px;

    .content {
      padding-top: 50px;

      .left {
        font-size: 12px;
        color: #999999;
        line-height: 20px;
        width: 580px;

        ul {
          margin-top: 37px;

          li {
            margin-top: 4px;

            span {
              color: $colorYellow;
            }
          }
        }
      }

      .links {
        margin-top: 20px;
        display: none;

        a {
          float: left;
          display: inline-block;
          width: 44px;
          height: 44px;
          background: url("../img/icon/home_lu_qq_normal.png") no-repeat;
          background-size: 100%;
        }

        .qq:hover {
          background-image: url("../img/icon/home_lu_qq_active.png");
        }

        .weixin {
          background-image: url("../img/icon/home_lu_wechat_normal.png");

          &:hover {
            background-image: url("../img/icon/home_lu_wechat_active.png");
          }
        }

        .weibo {
          background-image: url("../img/icon/home_lu_weibo_normal.png");

          &:hover {
            background-image: url("../img/icon/home_lu_weibo_active.png");
          }
        }
      }
    }

    form {
      input,
      textarea {
        background: #333333;
        line-height: 24px;
        padding: 10px;
        color: #fff;
        box-sizing: border-box;
        border: 1px solid transparent;
      }

      p {
        margin-bottom: 20px;
      }

      input[type=text] {
        width: 279px;

        &:last-child {
          margin-left: 18px;
        }
      }

      textarea {
        width: 580px;
      }

      input[type=submit] {
        width: 120px;
      }

      .err {
        border-color: $colorYellow;
      }
    }
  }

  .map {
    height: 472px;
    text-align: center;

    img {
      height: 100%;
    }
  }

  .copyright {
    text-align: center;
    color: #999999;
    line-height: 20px;
    padding: 15px 0;
    background: rgba(29,29,29,1);
    opacity: 0.95;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
}

.case .goodlist .content,
.server .content,
.server .lists li .content,
.serverlist li .right,
.youshi .info p {
  &:hover {
    color: #ddd;
    transition: all 0.5s ease-out;
  }
}
