html {
  color: #333;
  font: 14px/1.5 'PingFangSC', 'Helvetica Neue', 'Helvetica', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Arial', 'sans-serif';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  word-break: break-word;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

ul, ol {
  list-style: none
}

a {
  text-decoration: none;
  outline: 0;
  color: inherit
}

img {
  border: 0;
  vertical-align: middle;
  max-width: 100%
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, hr, blockquote, pre, form, fieldset, legend, input, button, textarea {
  margin: 0;
  padding: 0
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

input, button, select, textarea {
  border: 0;
  outline: 0;
  resize: none;
  color: inherit;
  border-radius: 0;
  font-size: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type=button], input[type=submit], input[type=reset], input[type=radio], input[type=checkbox], button, label, select, a {
  cursor: pointer
}

input[type=tel], input[type=email], input[type=number], input[type=password] {
  -ms-ime-mode: disabled;
  ime-mode: disabled;
}

input[disabled=disabled], button[disabled=disabled] {
  cursor: not-allowed
}

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block
}

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1
}

audio:not([controls]) {
  display: none
}
